In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Iris - Iris.csv')

In [3]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df['SepalLengthCm'] = df['SepalLengthCm'].astype(int)

In [7]:
df.dtypes

Id                 int64
SepalLengthCm      int32
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [11]:
scaler = MinMaxScaler()
df[['SepalLengthCm']] = scaler.fit_transform(df[['SepalLengthCm']])

In [12]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       0.333333           3.5            1.4           0.2  Iris-setosa
1   2       0.000000           3.0            1.4           0.2  Iris-setosa
2   3       0.000000           3.2            1.3           0.2  Iris-setosa
3   4       0.000000           3.1            1.5           0.2  Iris-setosa
4   5       0.333333           3.6            1.4           0.2  Iris-setosa

In [21]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le = LabelEncoder()
df['Species'] = le.fit_transform(df['Species'])

In [24]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1       0.333333           3.5            1.4           0.2        0
1   2       0.000000           3.0            1.4           0.2        0
2   3       0.000000           3.2            1.3           0.2        0
3   4       0.000000           3.1            1.5           0.2        0
4   5       0.333333           3.6            1.4           0.2        0

In [25]:
df.tail()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
145  146       0.666667           3.0            5.2           2.3        2
146  147       0.666667           2.5            5.0           1.9        2
147  148       0.666667           3.0            5.2           2.0        2
148  149       0.666667           3.4            5.4           2.3        2
149  150       0.333333           3.0            5.1           1.8        2

In [26]:
df['Species'].value_counts()

Species
0    50
1    50
2    50
Name: count, dtype: int64